<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <figure>
        <img src="/images/<%=product.image%>" alt="<%=product.name%>">
    </figure>
    <h1><%=product.name%></h1>
    <h3>quantity of product:<%=product.quantity%></h3>
    <h2>Price:<%=product.price%></h2>
    <h4>likes:<%=product.likes%></h4>
   
        <%if(admin!==null){%>
            <a href="/products/<%=product._id%>/<%=admin._id%>/edit">
                <button>Edit</button>
            </a> 
            <% } %>
            <%if(admin!==null){%>
                <a href="/products/<%=product._id%>/<%=admin._id%>/delete">
                    <button>Delete</button>
                </a> 
                <% } %>
   
    <a href="/products/<%=product._id%>/<%=userId%>/like">
        <button>Like</button>
    </a>
    <a href="/products/<%=product._id%>/<%=userId%>/dislike">
        <button>Disike</button>
    </a>
</body>
</html>