<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="/products/<%=product._id%>/<%=adminId%>/edit" method="POST" enctype="multipart/form-data">
            <input value="<%=product.name%>" type="text" name="name" placeholder="product_name">
            <input value="<%=product.quantity%>" type="number" name="quantity" placeholder="Quantity">
            <input value="<%=product.price%>" type="number" name="price" placeholder="Price">
            <input value="<%=product.image%>" type="file" name="image">
            <input type="submit">
        </form>
    </section>
</body>
</html>